@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prefer using tailwind instead of modifying styles here */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));

  /* https://github.com/tailwindlabs/headlessui/issues/762 */
  position: relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.border-card {
  border: 1px solid #d6d2d2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 999;
}